Bookmark Manager

<center><form action='/add_bookmarks' method=POST>
          <label for='url'> Enter URL: </label>
          <input type = text name = 'add_bookmark'>
          <label for='url'> Enter Site Name: </label>
          <input type = text name = 'add_title'>
          <input type =submit value = Submit>
        </form></center>


